#Este archivo funciona solo como referencia y se puede usar como plantilla para la configuración
#de las variables de entorno.

SMTP_SERVER = smtp@domain.com
SMTP_PORT = 111
USUARIO= user@domain.com
APP_PASSWORD = "xxxx xxxx xxxx xxxx"   # Funciona ingresando la contraseña al momento de registrar en el portal de Entra ID 
NOMBRE_HOJA = sheet_name_example
RUTA = Path_user_files 

