#Este archivo funciona solo como referencia y se puede usar como plantilla para la configuración
#de las variables de entorno.

SMTP_SERVER = smtp@domain.com  #En pruebas se usa Gmail como servicio. 
SMTP_PORT = 111
USUARIO= user@domain.com
NOMBRE_HOJA = sheet_name_example
RUTA = C:\Users\username\file-name

